<%= simple_form_for [@channel], :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :name %>
  <%= f.input :description, input_html: {rows:5}%>
  <%= f.input :type , collection: user_channel_types, include_blank:false, readonly: @channel.new_record? ? false : true%>
  <%= f.input :suffix %>
  <%= f.input :keyword, hint:'Used to identify this channel in user responses'%>
  <%if @channel.channel_group.blank? %>
    <%= f.input :tparty_keyword, label:'Messaging Service Identifier',
      hint:'Identifies this channel for MO messages'%>
  <%else%>
    <%= f.association :channel_group, readonly:true %>
  <%end%>

  <%= render :partial=>'channels/editor/schedule_section', :locals => {f:f} %>

  <%= f.input :moderator_emails, input_html: {rows:2} %>
  <%= f.input :real_time_update, label:'Real time update for moderators', hint:'Hourly(default is daily update by mail)' %>
  <%= f.input :active %>
  <%= f.input :allow_mo_subscription %>
  <%= f.input :mo_subscription_deadline, :as => :datetime_picker %>

  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to 'Cancel',session[:root_page] || request.referer, :class => 'btn' %>
    <% unless @channel.new_record? %>
      <%= link_to 'Delete',channel_path(@channel),:method => :delete,
    :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
    :class => 'btn btn-danger' %>
    <% end %>
  </div>
<% end %>


<% content_for :head_js do %>
  <script type="text/javascript">
  function set_schedule_visibility(value){
    if(value == "ScheduledMessagesChannel" ||
        value == "OrderedMessagesChannel" ||
        value == "RandomMessagesChannel"
        ){
      $("#schedule_section").css('display','inline')
    }else{
      $("#schedule_section").css('display','none')
    }
    if(value == "IndividuallyScheduledMessagesChannel"
        ){
      $("#relative-schedule").css('display','inline')
    }else{
      $("#relative-schedule").css('display','none')
    }
  }
  $(document).ready(function(){
    set_schedule_visibility($("#channel_type").val())
    $("#channel_type").change(function(){
      set_schedule_visibility($(this).val())
    });
  })
  </script>
<% end %>
