<%- model_class = Channel -%>
<% content_for(:title,@channel.name.titleize) %>
<div class="page-header">
  <h1><%=@channel.name %></h1>
</div>

<dl id="channel-details" class="dl-horizontal">
  <dt><strong>Description:</strong></dt>
  <dd><%= print_or_dashes(@channel.description) %></dd>
  <dt><strong>Channel type:</strong></dt>
  <dd><%= print_or_dashes(@channel.type.titlecase) %></dd>  
  <dt><strong>Suffix:</strong></dt>
  <dd><%= print_or_dashes(@channel.suffix) %></dd>    
  <dt><strong>Keyword:</strong></dt>
  <dd><%= print_or_dashes(@channel.keyword) %></dd>      
</dl>


<div class="row pagination-centered">
  <div class="span6" id="message-list">
    <%= render partial:'channels/details/message_list' %>
  </div>
  <div class="span5" id="subscriber-list">
    <%= render partial:'channels/details/subscriber_list' %>
  </div>
</div>


<div class="form-actions">
  <%= link_to 'Back',session[:root_page]||channels_path, :class => 'btn'  %>
  <%= link_to 'Edit',edit_channel_path(@channel), :class => 'btn' %>
  <%= link_to 'Subscriber Activities',{:controller=>'subscriber_activities',
      :action=>'index',:channel_id => @channel.id}, :class => 'btn' %>
  <%= link_to 'Export messages',channel_messages_path(@channel,format:"csv"), :class=>"btn" %>
  <%= link_to 'Import messages',select_import_channel_messages_path(@channel), :class=>"btn" %>
  <%= link_to 'Messages Report',{:controller=>'channels',
      :action=>'messages_report',:id=>@channel.id,format:"csv"},:class =>'btn' %>         

</div>
