<div class="page-header">
  <h2>Subscribers who responded with <%= @response[0..50] %> for "<%= @message.caption[0..50] %>"</h2>
</div>
<table id = "subscriber_response_table" class="table table-striped">
  <thead>
    <tr>
      <th><%= "Subscriber"%></th>
      <th><%= "Sent at"%></th>
    </tr>
  </thead>
  <tbody>
    <% @subscriber_responses.each do |sr| %>
      <tr>
        <% subscriber = @grouped_response[:subscribers].find{|subs| subs.phone_number==sr.origin} %>
        <td><%=link_to subscriber.name,subscriber_path(subscriber.id) %></td>
        <td><%=link_to sr.created_at, subscriber_activity_path(sr.id,subscriber_id:subscriber.id)%></td>
      </tr>
    <% end %>
  </tbody>
</table> 
<%= will_paginate @subscriber_responses %>

<div class="form-actions">
  <%= link_to 'Back',request.referer, :class => 'btn'  %>
</div>


