<div class="page-header clearfix">
  <h1 class="pull-left">Import messages for <%=@channel.name%></h1>
  <%= help_tag(help_edit_message_path) %>
</div>
<%= simple_form_for :import,{url:import_channel_messages_path, :html => { :class => 'form-horizontal', :multipart=>true}} do |f| %>
  <%= f.input :import_from, as: :file %>
  <div class="form-actions">  
    <%= f.button :submit, "Import" %>
  </div>
<% end %>