<%- model_class = SubscriberActivity -%>
<div class="page-header">
  <h1><%= sa_title(@target,@criteria,@type,@unprocessed)%></h1>
</div>
<table id="subscriber-activities" class="table table-striped">
  <thead>
    <tr>
      <th>Activity</th>
      <th>Processed</th>
      <th>Occurred At</th>
    </tr>
  </thead>
  <tbody>
    <% @subscriber_activities.each do |sa| %>
      <tr>
        <td><%= sa_description(sa) %></td>
        <td><%= sa.processed? ? 'Yes': 'No' %></td>
        <td><%= link_to(sa.created_at,sa_path(sa).merge({action:'show'})) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% if @subscriber_activities && @subscriber_activities.count > 0 %>
  <%= will_paginate @subscriber_activities%>
<% end %>

<%= link_to 'Back',request.referer,:class => 'btn btn-primary' %>
