<%= simple_form_for [@channel,@message,@response_action], :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :response_text,hint:'Use regular expression format' %>
  <%= f.simple_fields_for :action do |af| %>
    <%= render :partial=>'actions/fields',:locals=>{f:af}%>
  <% end %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to 'Cancel',request.referer, :class => 'btn' %>
  </div>
<% end %>
