<% if @grouped_responses && @grouped_responses.count > 0 %>
  <div id="response-message-details-section" >
    <table class="table table-striped">
      <thead>
        <tr>
          <th><%= "Response Text"%></th>
          <th><%= "Responses"%></th>
          <th><%= "Subscribers"%></th>
        </tr>
      </thead>
      <tbody>
        <% @grouped_responses.each do |grouped_response| %>
          <tr>
            <td><%=grouped_response[:message_content]%></td>
            <td><%=link_to grouped_response[:subscriber_responses].length, responses_channel_message_path(@channel,@message,:with_content=>grouped_response[:message_content])%></td>
            <td><%=grouped_response[:subscribers].length%></td>
          </tr>
        <% end %>
      </tbody>
    </table>  
  </div>
<% end %>