<%- channel_model_class = Channel -%>
<h2> Channels </h2>
<table class="table table-striped" id="channels_table">
  <thead>
    <tr>
      <th><%= channel_model_class.human_attribute_name(:name) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
    <tbody>
      <% if @channels && @channels.count > 0 %>
        <% @channels.each do |channel| %>
          <tr id = "<%= "channel_#{channel.id}" %>">
            <td><%= link_to channel.name, channel_path(channel) %></td>
            <td>
              <%= link_to t('.edit', :default => t("helpers.links.edit")),
                          edit_channel_path(channel), :class => 'btn btn-mini' %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
</table>
<% if @channels && @channels.count > 0 %>
  <%= will_paginate @channels, :param_name => 'channels_page'%>
<% end %>
<%= link_to t('.new', :default => t("helpers.links.new")),
            new_channel_path,
            :class => 'btn btn-primary' %>
