<%- subscriber_model_class = Subscriber -%>
<h2> Subscribers </h2>
<table class="table table-striped" id="subscribers_table">
  <thead>
    <tr>
      <th><%= subscriber_model_class.human_attribute_name(:name) %></th>
      <th><%= subscriber_model_class.human_attribute_name(:phone_number) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
    <tbody>
      <% if @subscribers && @subscribers.count > 0 %>
        <% @subscribers.each do |subscriber| %>
          <tr id = "<%= "subscriber_#{subscriber.id}" %>">
            <td><%= link_to subscriber.name, subscriber_path(subscriber) %></td>
            <td><%= subscriber.phone_number %></td>
            <td>
              <%= link_to t('.edit', :default => t("helpers.links.edit")),
                          edit_subscriber_path(subscriber), :class => 'btn btn-mini' %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
</table>
<% if @subscribers && @subscribers.count > 0 %>
  <%= will_paginate @subscribers, :param_name => 'subscribers_page' %>
<% end %>
<%= link_to t('.new', :default => t("helpers.links.new")),
            new_subscriber_path,
            :class => 'btn btn-primary' %>
