<%- model_class = User -%>
<div class="page-header clearfix">
  <h2 class="pull-left" id="user_email"><%= @user.email %></h2>
  <%= help_tag(help_user_show_path) %>
</div>

<div class="row pagination-centered">
  <div class="span5" id="channel-and-group-list">
    <div id="channels-section">
      <%= render partial:'channel_list' %>
    </div>
    <p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p>
    <div id="channel-groups-section">
      <%= render partial:'channel_group_list' %>
    </div>
  </div>
  <div class="span6" id="subscriber-list">
    <div id="subscribers-section">
      <%= render partial:'subscriber_list' %>
    </div>
  </div>
</div>