<h1>Signup to the <%= @channel_group.try(:name) %> channel</h1>
<%= form_tag "/subscribe/#{@channel_group.id}", method: :post do %>
    <label>First Name</label>
    <%= text_field_tag :first_name, params[:first_name] %><br />
    <label>Last Name</label>
    <%= text_field_tag :last_name, params[:last_name] %><br />
    <label>Mobile Number</label>
    <%= text_field_tag :mobile_number, params[:mobile_number] %><br />
    <label>Additional Attributes</label>
    <%= text_area_tag :additional_attributes, params[:additional_attributes] %><br />
    <label>Comments</label>
    <%= text_area_tag :comments, params[:comments] %><br />
    <%= hidden_field_tag :channel_group_id, @channel_group.id %>
    <%= submit_tag "Subscribe", name: nil, class: "btn btn-default" %>
<% end %>
