<h2> Channels </h2>
<table class="table table-striped" id="channels_table">
  <thead>
    <tr>
      <th><%= 'Name' %></th>
      <th><%= 'Type' %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
    <tbody>
      <% if @channels && @channels.count > 0 %>
        <% @channels.each do |channel| %>
          <tr id = "<%= "channel_#{channel.id}" %>">
            <td><%= link_to channel.name, channel_path(channel) %></td>
            <td><%= channel.type_abbr %></td>
            <td>
              <%= link_to 'Remove',
                          channel_group_remove_channel_path(@channel_group,channel),
                          :method => :post,
                          :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                          :class => 'btn btn-mini btn-danger' %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
</table>
<% if @channels && @channels.count > 0 %>
  <%= will_paginate @channels, :param_name => 'channels_page'%>
<% end %>
<%= link_to "Add",{:controller=>"channels",:action=>'new',
      :channel_group_id => @channel_group.to_param},
            :class => 'btn btn-primary'
             %>
