<% content_for(:title,@channel_group.name.titleize) %>
<div class="page-header">
  <h1><%=@channel_group.name %></h1>
</div>

<dl id="channel-group-details" class="dl-horizontal">
  <dt><strong>Description:</strong></dt>
  <dd><%= print_or_dashes(@channel_group.description)%></dd>
  <dt><strong>Default Channel:</strong></dt>
  <dd><%= @channel_group.default_channel.name if @channel_group.default_channel %></dd>
</dl>

<div class="row pagination-centered">
  <div class="span10" id="channel-list">
    <%= render partial:'channel_list' %>
  </div>
</div>


<div class="form-actions">
  <%= link_to "Back", (session[:root_page] || channels_path), :class => 'btn'  %>
  <%= link_to 'Edit', edit_channel_group_path(@channel_group), :class => 'btn' %>
  <%= link_to 'Subscriber Activities',{:controller=>'subscriber_activities',
      :action=>'index',:channel_group_id => @channel_group.id}, :class => 'btn' %>     
  <%= link_to 'Messages Report',{:controller=>'channel_groups',
      :action=>'messages_report',:id=>@channel_group.id,format:"csv"},:class =>'btn' %>         
</div>
