<%- subscriber_model_class = Subscriber -%>
<h2> Subscribed Subscribers </h2>
<table class="table table-striped" id="unsubscribed_subscribers_table">
  <thead>
    <tr>
      <th><%= subscriber_model_class.human_attribute_name(:name) %></th>
      <th><%= subscriber_model_class.human_attribute_name(:phone_number) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
    <tbody>
      <% if @subscribed_subscribers && @subscribed_subscribers.count > 0 %>
        <% @subscribed_subscribers.each do |subscriber| %>
          <tr id = "<%= "unsubscribed_subscriber_#{subscriber.id}" %>">
            <td><%= subscriber.name%></td>
            <td><%= subscriber.phone_number %></td>
            <td>
              <%= link_to "Remove",channel_remove_subscriber_path(@channel, subscriber), :method => 'post', :class => 'btn btn-mini' %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
</table>
<% if @subscribed_subscribers && @subscribed_subscribers.count > 0 %>
  <%= will_paginate @subscribed_subscribers, :param_name => 'subscribed_subscribers_page',
    :renderer => BootstrapPagination::Rails  %>
<% end %>
